@model IEnumerable<MusicFavorites.Models.FavoriteSong>

@{
    ViewData["Title"] = "Favorite Songs";
}

<h2>@ViewData["Title"]</h2>

<div class="songSelector">
    <select class="remoteSongList"></select>
    <button class="addFavorite">Add Favorite</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SongTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FavoriteSongId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FavoriteSongId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FavoriteSongId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


